body{
    background-color: red;
    margin: 0;
}

header{
    width: 100vw;
    height: 100vh;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cardId{
    width: 20vw;
    height: 63vh;
    background-color: blue;
    justify-content: center;
    border-radius: 12px;
    
}

.avatar{
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin: 10% auto;
}


.text{
    background-color: aqua;
    text-align: center;
}

